/data
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/dictionaries/Eliahu.xml
/.idea/dictionaries/eli.xml
/.idea/identifieng letters.iml
.gitignore
*.pth